body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: 'Calibri';
    color: rgb(158, 184, 211);
    font-size: 60px;
}

p,
pre {
    font-family: courier;
    color: slategrey;
}